@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #000000;
  color: #ff4d00;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
}

.text-outline {
  -webkit-text-stroke: 1px #000000;
}
